$minIphone: 500px;
$maxIphone: 690px;
$minTablet: $minIphone + 100;
$maxTable: 1120px;

@mixin responsive($device) {
  @if $device == "iphone" {
    @media screen and (min-width: $minIphone) and (max-width: $maxIphone) {
      @content;
    }
  } @else if $device == "tablet" {
    @media screen and (min-width: $minTablet) and (max-width: $maxTable) {
      @content;
    }
  } @else if $device == "iphone-l" {
    @media screen and (min-width: $minIphone) and (max-width: $maxIphone) and (orientation: landscape) {
      @content;
    }
  } @else if $device == "ipod-l" {
    @media screen and (min-width: $minTablet) and (max-width: $maxTable) and (orientation: landscape) {
      @content;
    }
  }
}
